/* Fonts */

@font-face{
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face{
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root{

  /* Text */
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-light-dark: #444444;
  --basic-extra-light: #666666;
  --basic-white: #FFFFFF;

  --hover-text-green: #01A25E;

  /* Backgrounds */

  --basic-grey: #EEEEEE;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-gold: #EFC849;
  --extra-dark: #4D4D4D;

  --special-light: #E1E1E1;

  --hover-red: #E74246;
  --hover-extra-red: #D7373B;
  --hover-green: #00BC6C;
  --hover-extra-green: #00AA62;
  --hover-gold: #EAB534;
  --hover-extra-gold: #E5A722;
  --hover-grey: #DFDFDF;
  --hover-extra-grey: #D5D5D5;

  /* Stroke */

  --special-stroke-light: #DBDBDB;

}

.page-body{
  min-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a{
  text-decoration: none;
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}

.text{
  line-height: 24px;
  color: var(--basic-dark);
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

.page{
  height:100;
}

.title{
  color: var(--basic-black);
}

.bold{
  font-weight: 700;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav-active{
  position: relative;
}

.nav-active::after{
  content: "";
  position: absolute;
  top: 55px;
  left: -3px;
  width: 73px;
  height: 2px;
  background-color: var(--basic-red);
}

/* ------- Main-header ------- */

/* Navigation */

.main-header{
  display: grid;
  background-color: var(--basic-grey);
  margin-bottom: 80px;
}

.main-navigation{
  line-height: 30px;
}



.wrapper{
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.site-navigation{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.link{
  color:var(--basic-black);
  display: block;
  padding: 13px 45px 13px 0;
}

.link:hover:hover{
  color: var(--basic-red);
}

.link:focus{
  color:inherit;
  opacity: 0.3;
}

.main-header-logo{
  padding:0;
}

.login-link{
  padding-left: 50px;
  position: relative;
}

.login-link::before{
  content: "";
  position: absolute;
  top: 20px;
  left: 14px;
  width: 15px;
  height: 15px;
  background: url("../img/cart-icon.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}


/* Gallery & Info */

.info-wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.site-info{
  padding-top:78px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: baseline;
}

.first-slogan{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom:25px;
}

.button{
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border:none;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.info-link{
  background-color: var(--basic-red);
  padding: 17px 54px 15px 54px;
  width: 132px;
  margin-top:38px;
}

.info-link:hover{
  background-color: var(--hover-red);
}

.info-link:focus{
  background-color: var(--hover-extra-red);
  color:rgba(100%, 100%, 100%, 0.3);
}

/* ------- Content ------- */

/* Features */

.features{
  margin-bottom: 153px;
  position: relative;
}

.features::after{
  content: "";
  position: absolute;
  bottom: -80px;
  width:100%;
  height: 2px;
  background-color: var(--basic-grey);
}

.features-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.feature-item{
  color: var(--basic-dark);
  display: flex;
  flex-direction: column;
}

.feature-title{
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 16px;
}

.feature-text{
  margin-bottom:32px;
}

.red{
  background-color: var(--basic-red);
}

.green{
  background-color: var(--basic-green);
}

.gold{
  background-color: var(--basic-gold);
}

.red:hover{
  background-color: var(--hover-red);
}

.green:hover{
  background-color: var(--hover-green);
}

.gold:hover{
  background-color: var(--hover-gold);
}

.red:focus{
  background-color: var(--hover-extra-red);
  color:rgba(100%, 100%, 100%, 0.3);
}

.green:focus{
  background-color: var(--hover-extra-green);
  color:rgba(100%, 100%, 100%, 0.3);
}

.gold:focus{
  background-color: var(--hover-extra-gold);
  color:rgba(100%, 100%, 100%, 0.3);
}

.feature-button{
  padding: 17px 39px 15px 40px;
  width: 103px;
}

/* Description */

.description-block{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 128px;
  gap: 128px;
}

.description-title{
  color: var(--basic-dark);
  margin: 0;
  padding: 0;
}

.description-slogan{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.description-text{
  margin-top: 32px;
  margin-bottom: 40px;
}

.description-item{
  margin-top: 23px;
  margin-left: 32px;
  position: relative;
}

.description-item::before{
  content: "";
  position: absolute;
  top: 10px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.details-logo{
  background-color: var(--basic-green);
  width: 360px;
  height: 208px;
  margin: 0 auto;
}

.details-list{
  display: flex;
}

.details-item{
  font-size: 16px;
  line-height: 18px;
}

.details-title{
  margin:0;
  padding: 0;
  margin-top: 37px;
  margin-bottom: 31px;
  text-align: center;
}

.percent{
  font-size:45px;
  line-height: 64px;
  display: block;
  margin-bottom: 11px;
}

/* Partners */

.partners{
  margin-bottom: 125px;
  position: relative;
}

.partners::before{
  content: "";
  position: absolute;
  top: -52px;
  width: 100%;
  height: 2px;
  background-color: var(--basic-grey);
}

.partners::after{
  content: "";
  position: absolute;
  bottom: -45px;
  width: 100%;
  height: 2px;
  background-color: var(--basic-grey);
}

.partners-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partners-item{
  position: relative;
}

.partners-item::after{
  content: "";
  position: absolute;
  top: 10px;
  left: -45px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
}

.partners-item:first-child::after{
  display: none;
}

.partners-link{
  opacity: 0.2;
}

.partners-link:hover{
  opacity: 1;
}

.partners-link:focus{
  opacity: 0.1;
}

/* ----- Main-footer ----- */

/* Contacts */

.footer-map{
  position: relative;
}

.map{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

.map-info{
  position: relative;
  z-index: 1;
  top: 54px;
  left:140px;
}

.footer-contacts{
  font-style: normal;
  background-color: var(--basic-white);
  width: 319px;
  height:308px;
  padding: 49px 50px 50px 47px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-contacts::after{
  content: "";
  width:231px;
  height:190px;
  left:523px;
  position:absolute;
  background-image: url("../img/map-marker\ 1.png");
}

.footer-text{
  line-height: 18px;
}

.footer-title{
  font-size: 18px;
  line-height: 30px;
}

.footer-phone{
  color: inherit;
}

.feedback-button{
  padding: 17px 44px 15px 44px;
  border-radius: 3px
}

/* ----------------Catalog-------------------- */

.navigation-title{
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin:0;
  padding: 0;
  margin-top: 87px;
  margin-bottom: 108px;
}

.page-catalog{
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 180px 1fr;
  align-content: start;
}

.catalog{
  grid-column: 1/2;
}

.catalog-categories{
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.catalog-option{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-left: 36px;
  color: var(--basic-dark);
}

.radio-option{
  position: relative;
  user-select: none;
  display: block;
  cursor: pointer;
}

.filter-input-radio + .radio-option::before{
  content: "";
  position: absolute;
  left: -36px;
  top: -7px;
  width: 20px;
  height: 20px;
  border: 5px solid var(--extra-dark);
  opacity: 0.3;
  border-radius: 50%;
}

.filter-input-radio:checked + .radio-option::after{
  content: "";
  position: absolute;
  left: -25.5px;
  top: 3.5px;
  width: 9px;
  height: 9px;
  background-color:var(--extra-dark);
  opacity: 0.3;
  border-radius: 50%;
}

.filter-styles{
  margin: 0;
  padding: 0;
  border: none;
}

.checkbox-option{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + .checkbox-option::before{
  content: "";
  position: absolute;
  left:-36px;
  top: -2px;
  width: 23px;
  height: 23px;
  opacity: 0.3;
  background-image: url("../img/checkbox.svg");
}

.filter-input-checkbox:checked + .checkbox-option::after{
  content: "";
  position: absolute;
  left: -32px;
  top: 0px;
  width: 20px;
  height: 16px;
  background-image: url("../img/checkbox-active.svg");
  opacity: 0.3;
}

.middle{
  margin-bottom: 43px;
}

.catalog-button{
  color: var(--basic-black);
  background-color: var(--basic-grey);
  padding: 17px 78px 15px 78px;
}

.catalog-button:hover{
  background-color: var(--hover-grey);
}

.catalog-button:focus{
  background-color: var(--hover-extra-grey);
  color: rgba(0, 0, 0, 0.3);
}

.sort-option{
  display: flex;
  justify-content: space-between;
}

.sort-list{
  display: flex;
  align-items: center;
  margin-left: 216px;
}

.sort{
  font-size: 14px;
  line-height: 18px;
  margin-left: 25px;
}

.sort:first-child{
  margin-left:0;
}

.sort-link{
  color: rgba(0, 0, 0, 0.3);
}

.sort-link:hover{
  color: rgba(0, 0, 0, 0.6);
}

.sort-link:focus{
  color: var(--basic-black);
}

.active{
  color: inherit;
}

.button-block{
  display: flex;
  align-items: center;
}

.button-up{
  width: 11px;
  height: 10px;
  background-image: url("../img/catalog-button.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.button-down{
  width: 11px;
  height: 10px;
  background-image: url("../img/catalog-button.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
  margin-left: 18px;
  opacity: 0.2;
}

/* Range filter */

.filter-item{
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 54px;
}

.range-filter{
  width: 260px;
  margin-top: 49px;
}

.range-controls{
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.scale{
  height: 2px;
  background-color: #D7DCDF;
}

.bar{
  width: 70%;
  height: 2px;
  background-color: #00CA74;
}

.toggle{
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.toggle-min{
  left: 18px;
}

.toggle-max{
  left: 160px;
}

.price-controls{
  display: flex;
  justify-content: space-between;
}

.price-controls label{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
}

.price-controls input{
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-dark);
  border: none;
  border-radius: 3px;
  background-color: var(--basic-grey);
  font-size: inherit;
  line-height: inherit;
}


/* Templates */


.templates{
  grid-row: 1/3;
  grid-column: 2/3;
  margin-left:141px;

}

.templates-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}

.circle-wrapper{
  background-color: var(--extra-dark);
}

.template{
  position: relative;
  margin-bottom: 31px;
  border-radius: 5px;
}

.template-image{
  height: 534px;
}

.circle-wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--extra-dark);
  opacity: 0.1;
}

.circle{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: 9px;
  background-color: var(--basic-white);
}

.circle:first-child{
  margin-left: 16px;
}

.description-wrapper{
  background-color: var(--basic-grey);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 231px;
  bottom: 0;
  text-align: center;
}

.template:hover{
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.template:hover > .description-wrapper{
  opacity: 1;
}

.template:hover > .circle-wrapper{
  opacity: 1;
}

.catalog-title{
  margin-top: 26px;
  margin-bottom: 12px;
}

.catalog-link{
  color: inherit;
}

.catalog-text{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-light);
  padding: 0 40px;
  margin-bottom: 64px;
}

.button-template{
  padding: 17px 72px 15px 72px;
}

.button-template:focus{
  color: var(--basic-white);
}

.paginator-block{
  display: flex;
  margin-top: 24px;
  margin-bottom: 60px;
}

.paginator{
  display: flex;
}

.paginator-item{
  background-color: var(--basic-grey);
  border: 3px solid transparent;
  color: inherit;
  padding: 17px 20px 15px 20px;
  margin-right: 11px;
}

.paginator-item:hover{
  background-color: var(--hover-grey);
}

.paginator-item:focus{
  background-color: var(--hover-extra-grey);
  color: rgba(0, 0, 0, 0.3);
}

.paginator-active{
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--special-stroke-light);
}

/* ------------------------------------------- */

/* Social button */

.footer-social{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 100px;
}

.social-title{
  font-size:36px;
  line-height: 36px;
  margin:0;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 75px;
}

.social-text{
  margin-bottom: 82px;
}

.social-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-block{
  margin-left: 139px;
}

.social-button{
  background:var(--special-light);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9px;

}

.social-button:hover{
  background-color: var(--hover-red);
}

.social-button:focus{
  background-color: var(--hover-extra-red);
}
.social-button:focus > .social-img{
  opacity: 0.3;
}
