/* Fonts */

@font-face{
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face{
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root{

  /* Text */
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-light-dark: #444444;
  --basic-extra-light: #666666;
  --basic-white: #FFFFFF;

  --hover-text-green: #01A25E;

  /* Backgrounds */

  --basic-grey: #EEEEEE;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-gold: #EFC849;
  --extra-dark: #4D4D4D;

  --special-light: #E1E1E1;

  --hover-red: #E74246;
  --hover-extra-red: #D7373B;
  --hover-green: #00BC6C;
  --hover-extra-green: #00AA62;
  --hover-gold: #EAB534;
  --hover-extra-gold: #E5A722;
  --hover-grey: #DFDFDF;
  --hover-extra-grey: #D5D5D5;

  /* Stroke */

  --special-stroke-light: #DBDBDB;

}

.page-body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--basic-black);
}

a{text-decoration: none;}

img{
  max-width: 100%;
  height: auto;
}

.text{
  line-height: 24px;
  color: var(--basic-dark);
}

ul{
  list-style: none;
}

.title{
  color: var(--basic-black);
}

.bold{
  font-weight: 700;
}

/* ------- Main-header ------- */

/* Navigation */

.main-header{
  background-color: var(--basic-grey);
}

.main-navigation{
  line-height: 30px;
}

.link{
  color:var(--basic-black);
}

.link:hover:hover{
  color: var(--basic-red);
}

.link:focus{
  color:inherit;
  opacity: 0.3;
}


/* Gallery & Info */

.gallery{
  background-color: var(--basic-red);
}

.first-slogan{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.button{
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border:none;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.info-link{
  background-color: var(--basic-red);
}

.info-link:hover{
  background-color: var(--hover-red);
}

.info-link:focus{
  background-color: var(--hover-extra-red);
  color:rgba(100%, 100%, 100%, 0.3);
}

/* ------- Content ------- */

/* Features */

.feature-item{
  color: var(--basic-dark);
}

.feature-title{
  font-size: 24px;
  line-height: 30px;
}

.red{
  background-color: var(--basic-red);
}

.green{
  background-color: var(--basic-green);
}

.gold{
  background-color: var(--basic-gold);
}

.red:hover{
  background-color: var(--hover-red);
}

.green:hover{
  background-color: var(--hover-green);
}

.gold:hover{
  background-color: var(--hover-gold);
}

.red:focus{
  background-color: var(--hover-extra-red);
  color:rgba(100%, 100%, 100%, 0.3);
}

.green:focus{
  background-color: var(--hover-extra-green);
  color:rgba(100%, 100%, 100%, 0.3);
}

.gold:focus{
  background-color: var(--hover-extra-gold);
  color:rgba(100%, 100%, 100%, 0.3);
}

/* Description */

.description-title{
  color: var(--basic-dark);
}

.description-slogan{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.details-logo{
  background-color: var(--basic-green);
}

.details-item{
  font-size: 16px;
  line-height: 18px;
}

.percent{
  font-size:45px;
  line-height: 64px;
}

/* Partners */

.partners-link{
  opacity: 0.2;
}

.partners-link:hover{
  opacity: 1;
}

.partners-link:focus{
  opacity: 0.1;
}

/* ----- Main-footer ----- */

/* Contacts */

.footer-contacts{
  font-style: normal;
}

.footer-text{
  line-height: 18px;
}

.footer-title{
  font-size: 18px;
  line-height: 30px;
}

.footer-phone{
  color: inherit;
}

/* Social button */

.social-title{
  font-size:36px;
  line-height: 36px;
}

.vk{
  background-image: url("../img/icons/vk-icon.svg");
}

.fb{
  background-image: url("../img/icons/fb-icon.svg");
}

.inst{
  background-image: url("../img/icons/insta-icon.svg");
}

.social-button{
  background:var(--special-light);
  border-radius: 50%;
}

.social-button:hover{
  background-color: var(--hover-red);
}

.social-button:focus{
  background-color: var(--hover-extra-red);
}
